In [1]:
from pyspark import SparkContext, SQLContext
from pyspark.sql.functions import udf, lit, col, when, avg, countDistinct, year, month
from pyspark.sql import Window, DataFrame
from pyspark.sql.types import IntegerType

from pyspark.ml.pipeline import Pipeline, Transformer
import numpy as np
import pandas as pd
import pickle
import dill
import codecs

import importlib

In [2]:
sc=SparkContext(appName='jlg')
sqlcontext=SQLContext(sc)

In [3]:
# create dumb pyspark dataframe

X1 = np.random.rand(1000).reshape(-1,1)
X2 = np.random.rand(1000).reshape(-1,1)
X3 = np.random.rand(1000).reshape(-1,1)
X4 = np.random.rand(1000).reshape(-1,1)
Y = X1*2 + X2*4 + X3*2 + X4*1

m = np.hstack([X1,X2,X3,X4,Y])
dataset = pd.DataFrame(m)
dataset.columns = ['X1','X2','X3','X4','Label']

dataset.to_csv('data/foo.csv', index=False)

df = sqlcontext.createDataFrame(dataset,schema=["F1", "F2", "F3", "F4", "Label"])

df.show(5)

+------------------+-------------------+------------------+-------------------+------------------+
|                F1|                 F2|                F3|                 F4|             Label|
+------------------+-------------------+------------------+-------------------+------------------+
|0.8967915949935993|0.48857634602983346|0.9930970019900044|0.36509123575027436| 6.099173813836815|
|0.7002861160198564|0.12482464080733668|0.6807920245256778|0.24837805938937274|3.5098329037097877|
|0.9030704650845118| 0.8125513347182771|0.8898339952806147|0.31644151104721996| 7.152455770650581|
|0.5358329732842825| 0.4600028728566212|0.5693566761473927| 0.8971842733166885| 4.947575063606524|
|0.9889381971542561|0.08711258407498157|0.8267066259521924|0.47429332050981987| 4.454033303022643|
+------------------+-------------------+------------------+-------------------+------------------+
only showing top 5 rows

In [4]:
# create custome transfomer

def Linear_Scaler(df, params):
    """
    A custom Transformer which scale the value up
    """
    alpha = params['alpha'] 
    inputCol = params['inputCol'] 
    outputCol = params['outputCol']
    
    # do transform
    tmp = df.withColumn(outputCol, df[inputCol]*alpha)
    return tmp

    
def Linear_Shifter(df, params):
    """
    A custom Transformer which scale the value up
    """
    val = params['val'] 
    inputCol = params['inputCol'] 
    outputCol = params['outputCol']
    
    # do transform
    tmp = df.withColumn(outputCol, df[inputCol]-val)
    return tmp

In [5]:
def feature_f1(params):
    sc=SparkContext()
    sqlcontext=SQLContext(sc)

+------------------+-------------------+------------------+-------------------+------------------+------------------+
|                F1|                 F2|                F3|                 F4|             Label|              F1_2|
+------------------+-------------------+------------------+-------------------+------------------+------------------+
|0.8967915949935993|0.48857634602983346|0.9930970019900044|0.36509123575027436| 6.099173813836815|1.7935831899871986|
|0.7002861160198564|0.12482464080733668|0.6807920245256778|0.24837805938937274|3.5098329037097877|1.4005722320397127|
|0.9030704650845118| 0.8125513347182771|0.8898339952806147|0.31644151104721996| 7.152455770650581|1.8061409301690237|
+------------------+-------------------+------------------+-------------------+------------------+------------------+
only showing top 3 rows

+------------------+-------------------+------------------+-------------------+------------------+------------------+--------------------+
|                F1|                 F2|                F3|                 F4|             Label|              F1_2|                F1_3|
+------------------+-------------------+------------------+-------------------+------------------+------------------+--------------------+
|0.8967915949935993|0.48857634602983346|0.9930970019900044|0.36509123575027436| 6.099173813836815|1.7935831899871986|-0.10320840500640072|
|0.7002861160198564|0.12482464080733668|0.6807920245256778|0.24837805938937274|3.5098329037097877|1.4005722320397127|-0.29971388398014365|
|0.9030704650845118| 0.8125513347182771|0.8898339952806147|0.31644151104721996| 7.152455770650581|1.8061409301690237|-0.09692953491548817|
+------------------+-------------------+------------------+-------------------+------------------+------------------+--------------------+
only showing top 3 rows

In [15]:
from core.store import *

In [16]:
register(Linear_Scaler, {})

In [18]:
p = checkouts(1,{})

NameError: name 'checkouts' is not defined

In [14]:
p(df, {'inputCol':'F1','outputCol':'F1_2','alpha':2.0}).show(3)

+------------------+-------------------+------------------+-------------------+------------------+------------------+
|                F1|                 F2|                F3|                 F4|             Label|              F1_2|
+------------------+-------------------+------------------+-------------------+------------------+------------------+
|0.8967915949935993|0.48857634602983346|0.9930970019900044|0.36509123575027436| 6.099173813836815|1.7935831899871986|
|0.7002861160198564|0.12482464080733668|0.6807920245256778|0.24837805938937274|3.5098329037097877|1.4005722320397127|
|0.9030704650845118| 0.8125513347182771|0.8898339952806147|0.31644151104721996| 7.152455770650581|1.8061409301690237|
+------------------+-------------------+------------------+-------------------+------------------+------------------+
only showing top 3 rows